body {
    box-sizing: border-box;
    height: 120vh;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(rgba(100, 89, 89, 0.637),rgba(163, 150, 150, 0.288)), url("https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=880&q=80");
    background-size: cover;
    color: white;
}

h1{
    font-family: 'Ephesis', cursive;
    margin: 10px;
    font-size: 5rem;
}

.container-main {
    font-family: 'Architects Daughter', cursive;    
    color: white;
    /* text-align: start; */
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.ingrediants-container {
    height: auto;
    width: 400px;
    padding: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black solid 1px;
    border-radius: 20px;
    background-color: rgba(48, 42, 42, 0.473);
}

.recipe {
    font-size: 1.2em;
    text-align: start;
    height: auto;
    width: fit-content;
    margin-left: 20px;
    padding: 20px;
    border: black solid 1px;
    border-radius: 20px;
    background-color: rgba(48, 42, 42, 0.473);
}

img {
    width: 250px;
    height: 200px;
    border: white solid 1px;
    border-radius: 15px;
    
}

.recipe-img {
    height: 200px;
    width: 250px;
    margin: 10px;
}

.ingrediants {
    text-align: start;
    font-size: 1.2em;
    margin: 10px;
}