body{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-image: linear-gradient(rgb(0, 0, 0),rgba(163, 150, 150, 0.288)), url("https://images.unsplash.com/photo-1547592180-85f173990554?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    color: white;
    font-family: 'Ephesis', cursive;
    font-size: 5rem;
}

h2{
    padding: 20px 0 20px 0;
    margin: 20px;
    font-size: 1.8rem;
}

img{
    border: rgb(63, 59, 59) solid 1px;
    border-radius: 10px;
    height: 169px;
    width: 200px;
    background-image: linear-gradient(rgba(100, 89, 89, 0.637),rgba(163, 150, 150, 0.288)), url("https://img.freepik.com/free-photo/gray-abstract-wireframe-technology-background_53876-101941.jpg?size=626&ext=jpg") ;
}

.main-container{
    font-family: 'Architects Daughter', cursive;
    font-weight: 700;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipes-card{
    background-color: rgba(48, 42, 42, 0.473);
    height: 400px;
    width: 20em;
    padding: 20px 0 20px 0;
    margin:  0px 50px 0px 50px;
    border: rgb(63, 59, 59) solid 1px;
    border-radius: 20px;
}

.recipes-card:hover {
    background-color: rgba(255, 255, 255, 0.295);
    color: rgb(34, 32, 32);
    transform: scale(1.1);
    border: white solid 1px;
}

.description{
    padding: 30px;
    margin: 20px;
    font-weight: 600;
}